/* imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

/* Styles*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    justify-content: center;
    top: 0;
    /* position: sticky; */
    box-shadow: 2px 7px 31px -1px rgba(148,141,141,0.75);
    -webkit-box-shadow: 2px 7px 31px -1px rgba(148,141,141,0.75);
    -moz-box-shadow: 2px 7px 31px -1px rgba(148,141,141,0.75);
    background-color: #fff;
    margin-bottom: 5%;
}

.header--title{
    margin-right: auto;
    padding: 24px 32px;
    font-family: 'Ubuntu', sans-serif;
}

.header--navbar_items{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header--navbar_items > li{
    padding: 20px;
}

.heroSection{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartWidget{
    width: 60px;
}

/* .itemListContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.card{
    width: 18rem;
    /* border: 1px solid blue;
    border-radius: 5%;
    display: grid;
    place-items: center; */
    margin: 0.06%;
} 

/* .card > img{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
} */

/* .card--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    place-items: center;
} */

.itemDetailContainer{
    height: 100vh;

    /* align-items: center;
    justify-content: center; */
}

/* .itemDetail {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5%;
}

.itemDetail > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.itemDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemCounter--toCart{
    align-items: center;
    margin-top: 5px;
}
.itemCounter--toCart>button{
    width:100%;
}

.itemDetail-img{
    width: 300px;
    /* flex: 1; */
}

.linkPages{
    border: purple;
    border-radius: 5%;
}

.linkPages:hover{
    color: rgb(255, 255, 255);
    background-color: blueviolet;
}

/* .itemCounter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.itemCounter--addSub{
    display: flex;
}

.itemCounter--addSub > button{
    width: 5rem;
}

.itemCounter--addSub > h6{
    align-self: center;
    padding-left: 9px;
    padding-right: 9px; 
}

.navbar_items_categoriesItems{
    display: none;
}

.navbar_items_categoriesItems-Show{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    /* left: -2%; */
}

.test{
    border: 1px solid black;
}